// переменные
$main-color: #3498db;
$text-color: #333;

// миксин для кнопки
@mixin button-style($bg) {
  padding: 10px 16px;
  background: $bg;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
}

// карточка
.product-card {
  width: 300px;
  border: 1px solid $main-color;
  padding: 16px;
  border-radius: 12px;
  color: $text-color;

  // вложенность
  &__img {
    width: 100%;
    border-radius: 8px;
  }

  &__title {
    font-size: 20px;
    margin: 10px 0;
  }

  &__desc {
    font-size: 14px;
    margin-bottom: 12px;
  }
}

// кнопка
.btn {
  @include button-style($main-color);

  &:hover {
    background-color: #333;
  }
  &:active {
    background-color: #3498db;
  }
}
